@namespace TexturePig.Web.Components
@inherits AntDomComponentBase
@using AntDesign;
@using AntDesign.ProLayout
<Space Class="@ClassMapper.Class">
    <SpaceItem>
        <HeaderSearch Class="action search"
                      Placeholder="Site Search"
                      DefaultValue="example"/>
    </SpaceItem>
    <SpaceItem>
        <span class="avatar-item">
        <Badge Count="12">
            <AvatarDropdown Name="Example"   MenuItems="@AvatarMenuItems" Avatar="Test">
            
            </AvatarDropdown>
        </Badge>
        </span>
        <style>
    /* tile uploaded pictures */
    .avatar-item {
        margin-left: 24px;
    }

    [class*='-col-rtl'] .avatar-item {
        margin-right: 24px;
        margin-left: 0;
    }
    </style>
    </SpaceItem>
    @code
    {
     public AvatarMenuItem[] AvatarMenuItems { get; set; } = new AvatarMenuItem[]
        {
            new() { Key = "center", IconType = "user", Option = "Account"},
            new() { Key = "setting", IconType = "setting", Option = "Settings"},
            new() { IsDivider = true },
            new() { Key = "logout", IconType = "logout", Option = "Log out"}
        };
    }
</Space>
