<Card Hoverable Cover="Cover">
        <CardMeta Title="@Name" Description="@Description"/>
        <Button Type="@ButtonType.Primary" style="margin-top: 10px;">Visit Pack</Button>
</Card>

@code
{
    [Parameter]
    public string Name { get; set; } = "Pack";

    [Parameter]
    public string Description { get; set; } = "The official pack.";

    [Parameter]
    public RenderFragment Cover { get; set; } =
    @<img alt="banner"  src="https://imgur.com/K6cRgla.png"/>;
}