@page "/categories/"

<PageHeader BackIcon="true" Ghost="false">
    <PageHeaderTitle>Categories</PageHeaderTitle>
@*    <PageHeaderSubtitle>Get the latest trending texturepacks on TexturePig.com</PageHeaderSubtitle>*@
@*    <PageHeaderExtra>
        <Button>Refresh</Button>
        <Button Type="@ButtonType.Primary">Latest</Button>
    </PageHeaderExtra>*@
</PageHeader>