<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BasicLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(BasicLayout)">
            <Result Status="404" Title="404" SubTitle="Sorry, the page you visited does not exist."><Extra><Button Type="primary">Back Home</Button></Extra></Result>
        </LayoutView>
    </NotFound>
</Router>
<AntContainer/>