@inject NotificationService _notice
@inject NavigationManager NavigationManager

<Button Type="@ButtonType.Primary">
    custom button
</Button>


@code {
    protected override async void OnInitialized()
    {
        string url = "/p/nectar";
        await Task.Delay(1000);
        RenderFragment btn = 
    @<Button Type="Primary" OnClick="() => { NavigationManager.NavigateTo(url); }">
                        confirm
                    </Button>;
        RenderFragment customIcon = @<Icon Type="star" Theme="outline" Style="color:#108ee9;"></Icon>;
        await _notice.Open(new NotificationConfig()
        {
            Message = "Join the Hype!",
            Description = "Get the Nectar pack today! Designed for Bedwars in mind, a clean, dark themed minecraft texturepack.",
            Icon = customIcon,
            Btn = btn 
        });
    }
}
