<div style="padding: 20px;">
    <Row Gutter="(16, 16)">
	    @foreach(RenderFragment fragment in packDisplays)
        {
            <ColChildComponent display="fragment"></ColChildComponent>	
        }
    </Row>
</div>

@code
{
    [Parameter]
    public RenderFragment[] packDisplays { get; set; } 

    private RenderFragment GetURLtoFragment(string url, string alt="cover")
    {
        return 
    @<img alt="@alt"  src="@url">; 
    }
}