@page "/"

<Card>
    <Alert
        Message="This page is in development, check on the development in our blog."
        Type="info"
        ShowIcon="true"
        Banner/>
</Card>

<p style="text-align: center; margin-top: 24px;">
    Having issues with downloading?
    <a href="https://texturepig.com/" target="_blank" rel="noopener noreferrer">
        Check out our Windows App!
    </a>
    .
</p>

@inject IJSRuntime JS

<h2>Measure Latency</h2>

@if (latency is null)
{
    <span>Calculating...</span>
}
else
{
    <span>@(latency.Value.TotalMilliseconds)ms</span>
}

@code {
    private DateTime startTime;
    private TimeSpan? latency;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            startTime = DateTime.UtcNow;
            var _ = await JS.InvokeAsync<string>("toString");
            latency = DateTime.UtcNow - startTime;
            StateHasChanged();
        }
    }
}