@page "/"

<Card>
    <Alert
        Message="This page is in development, check on the development in our blog."
        Type="info"
        ShowIcon="true"
        Banner/>
</Card>

<p style="text-align: center; margin-top: 24px;">
    Want to add more pages? Please refer to
    <a href="https://github.com/ant-design-blazor/ant-design-pro-blazor" target="_blank" rel="noopener noreferrer">
        ant-design-pro-blazor project
    </a>
    .
</p>
