@page "/"

<Card>
    <Alert
        Message="This page is in development, check on the development in our blog."
        Type="info"
        ShowIcon="true"
        Banner/>
</Card>

<p style="text-align: center; margin-top: 24px;">
    Having issues with downloading?
    <a href="https://texturepig.com/" target="_blank" rel="noopener noreferrer">
        Check out our Windows App!
    </a>
    .
</p>

<LoadingSpeed></LoadingSpeed>